# Datasets
data/*.csv
data/*.geojson

# Model binary
model/model.pkl

# Database
database/*.db
database/materialized_stats.json

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg
.env
venv/
env/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo
